.nosotros{
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center; 
}
.nosuno{
    @extend.nosotros;
}
.nosdos{
    @extend.nosotros;
    padding:15px;
}
.nostres{
    @extend.nosotros;
    padding: 15px;
    font-size: 20px;
}

@mixin colsiz ($color, $font-size) {
    color: $color;
    font-size: $font-size;
}
.tiser{
    @include colsiz(rgb(19, 18, 18), 25px)
}