*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
  }
  body{
    background-color: white;
  }
  .colbar{
    background-color: rgb(235, 227, 227);
  }
  ul li{
    list-style-type: none;
  }
  footer{
    background-color: rgb(235, 227, 227);
    padding: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
  }