*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}
body{
  background-color: white;
}
ul li{
  list-style-type: none;
}
.colbar{
  background-color: rgb(235, 227, 227);
}
p{
  color: black;
  padding: 20px;
  margin: 5px 25px 50px 25px;
  border: 50px;
}
.novMensuales{
  border: solid 1px black;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer{
  background-color: rgb(235, 227, 227);
  padding: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}

img{
  width: 220px;
  height: 300px;
}
.division{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 50px 300px 250px 400px 500px 150px;
grid-template-areas: 
"header header header header header header"
"galeria galeria galeria galeria galeria galeria"
"politica politica politica politica politica politica"
"notas notas notas notas notas notas"
"contacto contacto contacto contacto contacto contacto"
"footer footer footer footer footer footer";
}
.header{
  grid-area: header;
  background-color: rgb(235, 227, 227)
}
.galeria{
  grid-area: galeria;
  background-color: white;
}
h2{
  font-size: 25px;
  font-weight: 600;
  color: rgb(83, 78, 78);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.politica{
  grid-area: politica;
  background-color: white;
}
.notas{
  grid-area: notas;
}
.notas{
margin: 5px 10px 5px 10px;
}
.contacto{
  grid-area: contacto;
  width: 550px;
  height: 250;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}
.contactouno{
width: 100%;
padding: 25px 25px;
}
h3{
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}
.contactodos{
  display: flex;
  flex-direction: column;
}
.contactouno label{
  font-weight: 100;
}
.contacto input,
.contactouno textarea{
  width: 100%;
  padding: 5px 0px 5px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid black ;
  font-size: 10px;
  font-weight: 100;
}
.contactouno textarea{
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}
.boton{
background-color: rgb(156, 218, 236);
}
.boton:hover{
  background-color: rgb(187, 182, 182);
}
:focus{
  outline: none;
}
.footer{
  grid-area: footer;
  height:auto;
  text-align: center;
  font-size: 15px;
}
h4{
  margin-left: 35px;
  font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 480px){
  .division{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "galeria"
    "politica"
    "notas"
    "contacto"
    "footer";
    }
}
@media (max-width: 600px){
  .division{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
    "galeria galeria"
    "politica politica"
    "notas notas"
    "contacto contacto"
    "footer contacto";
    }
}
@media (max-width: 768px){
  .division{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "galeria galeria galeria"
    "politica politica politica"
    "notas notas notas"
    "contacto contacto contacto"
    "footer footer footer";
    }
}
